::deep .quickgrid {
    width: auto;
}

::deep .quickgrid th {
    padding: 0.1rem 0.1rem 0.1rem 0.1rem;
}

::deep .quickgrid[theme=default] > tbody > tr > td {
    padding: 0.1rem 0rem 0.1rem 0rem;
}

::deep .quickgrid[theme=default] > tbody > tr > td.day {
    width: 25px;
}

::deep .quickgrid tr td a {
    text-decoration: none;
    display: flex;
    width: 25px;
    justify-content: flex-end;
    white-space: nowrap;
}

::deep tr:nth-child(even) > td:nth-child(n+5) > a {
    color: red !important;
}

::deep tr:nth-child(odd) > td:nth-child(n+5) > a {
    color: blue !important;
}

::deep .sunday, ::deep .saturday, ::deep .holiday {
    background-color: var(--bs-secondary-bg-subtle) !important;
}

::deep .project2 {
    border-top: 2px solid black;
}

::deep .plan {
    border-top: 2px dotted black;
    height: 24px;
}

::deep .actual {
    height: 24px;
}

/* ヘッダー内の余白を削除 */
::deep .quickgrid .col-header-content {
    padding: 0;
    display: inlie-block;
}

::deep .quickgrid .col-title {
    padding: 0;
}

/* ソートアイコンの幅を削除 */
::deep .quickgrid .sort-indicator {
    width: 0;
    margin: 0;
    padding: 0;
}
